*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing:border-box;
    font-size: 62.5%;
    
}

body {
    font-family: 'Montserrat', sans-serif;
    
}

button {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

.container {
    width: 116rem;
    margin: 0 auto; 
}*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing:border-box;
    font-size: 62.5%;

}

body {
    font-family: $font-display;
    
    
}

button {
    
}

a {

    color: inherit;
    text-decoration: none;
}

ul li {
    list-style: none;
}

.container {
    width: 133.5rem;
    padding: 0rem 1.5rem;
    margin: 0 auto; 
}