
@media (max-width: 156rem) {
    .header,
    .advantages,
    .footer {
        padding-right: 5rem;
        width: 103vw;
    }
}
@media (max-width: 147rem) {
    .header,
    .advantages,
    .footer {
        width: 106vw;
    }
}


@media (max-width: 140rem) {
    .header,
    .advantages,
    .footer {
        width: 109vw;
    }
}
@media (max-width: 134rem) {
    .header,
    .advantages,
    .footer {
        width: 113vw;
    }
}
@media (max-width: 125rem) {
    .container {
        width: none;
    }
    .header,
    .advantages,
    .footer {
        width: 118vw;
    }
}
@media (max-width: 120rem) {
    .header,
    .advantages,
    .footer {
        width: 124vw;
    }
}
@media (max-width: 117rem) {
    .header,
    .advantages,
    .footer {
        width: 131vw;
    }
}
@media (max-width: 106rem) {
    .header,
    .advantages,
    .footer {
        width: 137vw;
    }
}
@media (max-width: 100rem) {
    .header,
    .advantages,
    .footer {
        width: 146vw;
    }
}

@media (max-width: 95rem) {
    .header,
    .advantages,
    .footer {
        width: 154vw;
    }
}

@media (max-width: 90rem) {
    .header,
    .advantages,
    .footer {
        width: 170vw;
        padding-right: 10rem;
    }
}

@media (max-width: 80rem) {
    .header,
    .advantages,
    .footer {
        width: 178vw;
    }
}

@media (max-width: 75rem) {
    .header,
    .advantages,
    .footer {
        width: 189vw;
    }
}
@media (max-width: 70rem) {
    .header,
    .advantages,
    .footer {
        width: 204vw;
    }
}

@media (max-width: 65rem) {
    .header,
    .advantages,
    .footer {
        width: 218vw;
    }
}

@media (max-width: 60rem) {

    html {
        font-size: 57.5%;
    }

    .container {
        padding: 0 4.5rem;
    }

    .header,
    .advantages,
    .footer {
        width: 238vw;
    }
}


@media (max-width: 55rem) {
    .header,
    .advantages,
    .footer {
        width: 257vw;
    }
}

@media (max-width: 50rem) {
    .header,
    .advantages,
    .footer {
        width: 283vw;
    }
}
@media (max-width: 45rem) {
    .header,
    .advantages,
    .footer {
        width: 315vw;
    }
}
@media (max-width: 40rem) {
    .header,
    .advantages,
    .footer {
        width: 353vw;
    }
}
@media (max-width: 35rem) {
    .header,
    .advantages,
    .footer {
        width: 399vw;
    }
}



