.heading {
    font-family: $font-heading;
    color: $color-heading;
    text-transform: uppercase;
}

.heading-sub {
    font-family: $font-heading;
    color: $color-heading;
    text-transform: uppercase;
    font-size: 4rem;
}